* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #3067ed15;
}

.container {
  background-color: #fff;
  padding: 0;
}

.row {
  margin: 0;
}

.sign {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;

  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  transform: translate(-50%, -50%);
}

header {
  height: 40px;
  width: 100%;

  background-color: #3067ed;
}

header a {
  color: rgba(255,255,255,.75);
  margin-lefT:40px;
  line-height: 40px;
}

header a:hover {
  color: white;
  text-decoration: none;
}
s
header a.active {
  color: white;
  border-bottom: 3px solid white;
}

.rooms {
  height: calc(100vh - 40px);
  overflow: scroll;

  /* border-right: 1px solid #3067ed;
  border-left: 1px solid #3067ed; */
  background-color: #3067ed35;

  padding: 0;
}

.rooms .title {
  margin: 30px 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.rooms-list {
  margin: 0;
  padding: 0;
}

.rooms-list li {
  list-style: none;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px 10px;
  /* border-top: 1px solid #3067ed; */
  margin: 0 10px 10px;
}

/* .rooms-list li:last-child {
  border-bottom: 1px solid #3067ed;
} */
.rooms-list li:not(:last-child) {
  margin-bottom: 10px;
}

.rooms-list li h3 {
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}
.rooms-list li span {
  font-size: .675rem;
}
.rooms-list li .description {
  margin: 0;
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rooms-list li .join {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  background-color: #3067ed70;
  color: white;
  font-weight: bold;
}

.rooms-list li .join:hover {
  background-color: #3067ed50;
}

.create-room {
  width: calc(100% - 20px);
  background-color: #3067ed;
  color: white;
  margin: 0 10px;
}

.create-room:hover {
  background-color: #3067ed80;
}

.chat {
  padding: 0;
}

.chat .conversation-container {
  height: calc(100vh - 160px);
}

.chat .conversation-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #333;
}

.chat .conversation-header h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}
.chat .conversation-header .info {
  margin-left: 10px;
}

.chat .conversation-header .info ol {
  padding: 0;
  margin: 0;
}

.chat .conversation-header .action-btn {
  margin: 0 10px;
  padding: 0;
}

.chat .conversation-header .action-btn button {
  background-color: #e74c3c;
  color: #fff;
}

.chat .conversation-header .action-btn button:hover {
  background-color: #e74c3c90;
}

.chat .conversation-header .action-btn button:not(:last-child) {
  margin-right: 10px;
}


.chat .input-zone {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #3067ed40;
}

.chat .input-zone .chat-input {
  flex-grow: 2;
  height: 60px;
  padding-left: 10px;
  margin: 0;
  line-height: 60px;
  border: 0;
}

.chat .input-zone .chat-sent {
  padding: 0 10px;
  border: 0;
  background-color: #3067ed;
  color: white;
}

.tags {
  font-size: .65rem;
  padding: 2px 3px;
  border-radius:3px;
  background-color: #e74c3c;
  color: white;
  float: right;
}

.tags:not(:last-child) {
  margin-left: 3px;
}

.search-bar {
  width: 100%;
}

.search-bar input {
  border-radius: 0;
}

.logout-btn {
  margin-right: 40px;
}


.row.header {
  justify-content: space-between;
}

.form-group label {
  margin-bottom: 2px;
  font-size: .675rem;
}

/* .form-group.profile {
} */

.form-group.profile input {
  margin-bottom: 10px;
}

.form-group.profile .pp {
  border: 1px solid #3067de;
  min-height: 250px;
  min-width: 250px;
}

.pp-container {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #3067ed;
  color: white;
  margin-top: 20px;
}

.btn.tenten {
  width: 100%;
}

.btn:hover {
  background-color: #3067ed80;
}

.user-settings {
  margin: 50px auto;
}

.clavardage {
  list-style: none;
  padding: 0;
  margin-left:10px;
}

.clavardage li {
  background-color: #3067de30;
  padding: 4px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
